---
import styles from "./Navbar.module.css"
---   
    <header class={styles.navbar}>
        <nav class={styles.navbar}>
          <a href="/#inicio" class={styles.navLink}>Inicio</a>
          <a href="/#proyectos" class={styles.navLink}>Trabajos</a>
          <a href="/#contacto" class={styles.navLink}>Contacto</a>
        </nav> 
        <!-- MENU HAMBURGESA -->
        <div class={styles.hamburger} aria-label="Toggle menu">
          <span class={styles.bar}></span>
          <span class={styles.bar}></span>
          <span class={styles.bar}></span>
        </div>
      </header>
      

<!-- astro-i18n -->

<!-- Botones para cambiar de idioma -->
        <!-- <div class="languages">
          <button class="lang-button" id="btn-en" data-language="en">Inglés</button>
          <button class="lang-button" id="btn-es" data-language="es">Español</button>
          <button class="lang-button" id="btn-pt" data-language="pt">Portugués</button>
         </div> -->