---
import styles from "./Footer.module.css";
import { t, getValidLang } from '../../utils/i18n';

const { lang } = Astro.params;
const langCode = getValidLang(lang);
---

<footer class={styles.mainFooter} id="contacto">
  <div class={styles.footerContainer}>
    <div class={styles.textFooter}>
      <h3 class={styles.titleFooter}>{t(langCode, "footer.title")}</h3>
      <a
        href="https://api.whatsapp.com/send?text=Hola, quiero comenzar con mi proyecto!&phone=+541154702118"
        target="_blank"
      >
        <i class="ri-whatsapp-line"></i>WhatsApp
      </a>
    </div>

    <div class={styles.containerSocial}>
      <a href="https://www.instagram.com/ignacioweppler/" target="_blank">
        Instagram<i class="ri-arrow-right-up-line"></i>
      </a>

      <a href="https://github.com/IWeppler" target="_blank">
        GitHub<i class="ri-arrow-right-up-line"></i>
      </a>

      <a href="https://www.linkedin.com/in/ignacioweppler/">
        LinkedIn<i class="ri-arrow-right-up-line"></i>
      </a>
    </div>

    <div class={styles.footerEnd}>
      <p>{t(langCode, "footer.name")}</p>
    </div>
  </div>
</footer>
