---
import styles from "./Benefits.module.css"
import { initObserver } from '../../scripts/intersection-observer';
import { SwatchBook, Gauge, SearchCheck, MousePointerClick, MonitorSmartphone } from '@lucide/astro';
---

    <section class={styles.fourthPart}>
        <h3>Cómo hago la diferencia</h3>
  
        <article class={styles.containerWrapper}>  
        <div class={styles.wrapperBenefits}>
          <div class={styles.benefits}>
            <SwatchBook size={40} class={styles.icon}/>
            <h4>Diseño Atractivo</h4>
            <p>Diseño tu página alineada con la identidad de tu marca, para que genere confianza desde el primer click.</p>
          </div>
          <div class={styles.benefits}>
            <Gauge size={40} class={styles.icon}/>
            <h4>Velocidad de carga</h4>
            <p>
              Optimizo el rendimiento de tu sitio para que cargue rápido desde el primer segundo, para que nadie se vaya antes de ver lo mejor de tu web.
            </p>
          </div>
          <div class={styles.benefits}>
            <SearchCheck size={40} class={styles.icon}/>
            <h4>SEO optimizado</h4>
            <p>Haré que la página web aparezca en los primeros lugares de Google al buscar tu marca.</p>
          </div>
        </div>
        <div class={styles.wrapperBenefitsRow}>
          <div class={styles.benefits}>
            <MousePointerClick size={40} class={styles.icon}/>
            <h4>Experiencia de Usuario</h4>
            <p>Creo una navegación clara, sencilla y pensada para que tus usuarios encuentren lo que buscan sin perder tiempo.</p>
          </div>
          <div class={styles.benefits}>
            <MonitorSmartphone size={40} class={styles.icon}/>
            <h4>Adaptable a todos los dispositivos</h4>
            <p>Tu web se verá increíble en celulares, tablets y computadoras.</p>
          </div>
        </div>
      </article>
      </section>

<script is:inline>
  import { onMount } from 'astro/client';

  onMount(() => {
    initObserver();
  });
</script>
