---
import styles from "./Banner.module.css";
import { t, getValidLang } from "../../utils/i18n";

const { lang } = Astro.params;
const langCode = getValidLang(lang);
const palabras = t(langCode, "palabras");
---

<article class={styles.bannerContainer}>
  <div class={styles.marquee}>
    <div class={styles.track}>
      {Array(4).fill(palabras).flat().map((word) => (
        <span class={styles.word} >{word}</span>
      ))}
    </div>
  </div>
</article>