---
import styles from "./AboutMe.module.css";
---

<section class={styles.firstPart} id="aboutme">
  <div class={styles.titles}>
    <h3>Sobre mi</h3>
  </div>

  <div class={styles.scrollReveal}>
    <div class={styles.containerServices}>
      <p class={styles.revealText}>
        Hola, soy Ignacio 游녦 desarrollador web full stack. Me dedico a
        transformar tus ideas en webs y apps que impactan, conectan y hacen
        <span class={styles.spanAboutMe}> crecer tu negocio.</span>
        <br /><br />
        Me apasiona entender lo que necesitas y
        <span class={styles.spanAboutMe}> crear soluciones a medida.</span>
        Con un enfoque en dise침os simples e intuitivos, haciendo realidad tus sue침os.
        쯃isto para tu pr칩ximo proyecto?
        <a
          href="#contacto"
          class={styles.spanAboutMeCTA}
          aria-label="Ir a la secci칩n de contacto">춰Hablemos!</a
        >
      </p>
    </div>
  </div>

  <div class={styles.wrapperIcons}>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-css3-plain-wordmark"></i>
    <i class="devicon-javascript-plain"></i>
    <i class="devicon-typescript-plain"></i>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <i class="devicon-express-original"></i>
    <i class="devicon-astro-plain"></i>
    <i class="devicon-react-original"></i>
    <i class="devicon-nextjs-plain"></i>
    <i class="devicon-tailwindcss-original"></i>
    <i class="devicon-mongodb-plain-wordmark"></i>
    <i class="devicon-mongoose-original-wordmark"></i>
    <i class="devicon-postgresql-plain-wordmark"></i>
    <i class="devicon-git-plain-wordmark"></i>
    <i class="devicon-github-original-wordmark"></i>
  </div>
</section>
